.columns
  %div
    %h3 Generate Content
    %form{ :method => "post", :action => url(:gencontent) }
      %div
        %input{ :type => "submit", :name => "gencontent", :value => "Generate Content" }
      
